<ion-header>
    <ion-navbar>
        <ion-title>Cadastre-se</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="default-bg">
    <ion-list>
        <ion-item color="secondary">
            <ion-label floating color="dark">Email</ion-label>
            <ion-input ng-model="user.email" type="text"></ion-input>
        </ion-item>

        <ion-item color="secondary">
            <ion-label floating color="dark">Senha</ion-label>
            <ion-input ng-model="user.password" type="password"></ion-input>
        </ion-item>

        <ion-item color="secondary">
            <ion-label floating color="dark">Confirmar senha</ion-label>
            <ion-input ng-model="user.password_confirmation" type="password"></ion-input>
        </ion-item>
    </ion-list>

    <div padding>
        <button ion-button (click)="create()" color="primary" block>Cadastrar</button>
    </div>

</ion-content>