<ion-header>
  
  <ion-navbar>
    <ion-title>Meus Chopps</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding class="default-bg">
  <div class="tabs-button">
    <ion-grid>
      <ion-row>
        <ion-col col>
          <button ion-button (click)="showActivateChopps()" [ngStyle]="{'background-color': buttonColorX}" block>Ativos</button>
        </ion-col>
        <ion-col col>        
          <button ion-button (click)="showWaitingPaymentChopps()" [ngStyle]="{'background-color': buttonColorY}" block>Aguardando Pagamento</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="activate-chops" [hidden]="!tabsValidator">
    <h3 *ngIf="activateChopps.length === 0"> Não há cupons ativos no momento.</h3>
    <ion-card *ngFor="let chopp of activateChopps">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-9>
              <h2 class="chopp-header">
                <ion-icon name="beer"></ion-icon> Chopp {{chopp.chopp_type}}
              </h2>
              <p>
                {{chopp.size}} ml
                <span *ngIf="chopp.collar === 1 "> com pouco colarinho </span>
                <span *ngIf="chopp.collar === 2 "> com muito colarinho </span>
              </p>
            </ion-col>
            <ion-col col-3>
              <button ion-button (click)="chopp.isHidden = !chopp.isHidden" color="primary" block>Usar</button>
            </ion-col> 
            <div class="qr-code" [hidden]="chopp.isHidden">
              <qr-code [value]="chopp.qrcode" [size]="150"></qr-code>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="waiting-payment" [hidden]="tabsValidator">
    <h3 *ngIf="waitingPaymentChopps.length === 0"> Não há pagamentos pendentes.</h3>      
    <ion-card *ngFor="let chopp of waitingPaymentChopps">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col>
              <h2 class="chopp-header">
                <ion-icon name="beer"></ion-icon> Chopp {{chopp.chopp_type}}
              </h2>
              <p>
                {{chopp.size}} ml
                <span *ngIf="chopp.collar === 1 "> com pouco colarinho </span>
                <span *ngIf="chopp.collar === 2 "> com muito colarinho </span>
              </p>
              <h2 class="payment-message">Aguarde aprovação do pagamento para utilizar o cupom.</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
