<ion-header>

  <ion-navbar>
    <ion-title>Meus Chopps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="default-bg">

  <ion-card *ngFor="let order of orders">

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h1 class="chopp-header">
              <ion-icon name="beer"></ion-icon> {{order.chopp_type}}
            </h1>
            <p>
              <span *ngIf="order.collar!=='0'"> Com colarinho de {{order.collar}}</span>
            </p>
            <p>
              {{order.size}} ml
            </p>
          </ion-col>
          <ion-col col-3>
            <button ion-button color="primary" block>Usar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>