<ion-header>
  <ion-navbar>
    <ion-title>Administrador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="default-bg">

  <div class="admin-page">
    <ion-card>
      <ion-card-header>
        Informações sobre a operação da máquina
      </ion-card-header>

      <ion-item>
        <ion-label> Status </ion-label>
        <ion-label>
          <span class="status-ok" *ngIf="machineStatus === 'true' ">
            <ion-icon name="checkmark"></ion-icon>
          </span>
          <span class="status-not" *ngIf="machineStatus === null || machineStatus === 'false' ">
            <ion-icon name="md-close" color="red"></ion-icon>
          </span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Temperatura </ion-label>
        <ion-label>
          <ion-icon name="thermometer" color="primary"></ion-icon>
          {{temperature}} ºC
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Quantidade </ion-label>
        <ion-label>
          <ion-icon name="beaker" color="primary"></ion-icon>
          {{volume}}/30000 ml
        </ion-label>
      </ion-item>

    </ion-card>
  </div>

  <div padding>
    <button ion-button icon-start (click)="refreshPage()" color="primary" block>
      <ion-icon name="refresh-circle"></ion-icon> Atualizar      
    </button>
  </div>

</ion-content>